/*
 * settings.global
 */
 /*
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.
// Standardise some UI treatments.
*/
$s-config__path--img: "../assets/img"  !default;

/* COLORES */
/*    $s-colors-brand: (
      first:   #ec1b2d,
      second:  #f9eb2d,
      third:   #20a0de,
    ) !default;

    @each $name, $color in $s-colors-brand {
      .u-color-#{$name} {
        color: $color !important;
      }
    }*/