/*
 * elements.page
 */
* {
	box-sizing: border-box;
	font-family: 'Noto Serif', serif;
	-webkit-font-smoothing: antialiased; /**/
  	-moz-osx-font-smoothing: grayscale; /**/
	line-height: 1.5; /**/
 	margin: 0; 	
}
ul, li {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
}
p {
	font-size: 1.125em;
	color: #999;
	margin-bottom: 1em;
}
input, select, button { font: inherit; } /* para que coja la misma fuente que el contenedor padre */
a { color: inherit; } /* para que coja el mismo color de fuente que su contenedor padre */