.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
	height: 27px;
	margin: 20px 0;
	padding: 0;
}

.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}

.ui-tabs-nav li a {
	padding: 4px 20px 6px;
	font-weight: bold;
}

.ui-tabs-nav li a {
	border-style: solid;
	border-color: #CCC #CCC #F9F9F9;
	border-width: 1px 1px 0;
	color: #C1C1C1;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
	margin: 0 6px -1px 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav li.ui-state-active a {
	border-width: 1px;
	color: #464646;
}

.ui-tabs-panel {
	clear: both;
}

.ui-tabs-panel h3 {
	font: italic normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0 0 5px;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
}

.ui-tabs-panel h4 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0;
}

.wrap h3, .wrap table {
	display: none;
}


.ui-tabs.ui-widget.ui-widget-content > .form-table{
    display: block!important;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.03);
    margin-top: 0px!important;
    margin-bottom: 30px;
}

.ui-tabs.ui-widget.ui-widget-content > .form-table input{
	padding: 10px 15px;
}

.ui-tabs.ui-widget.ui-widget-content > .form-table .description{
	color: rgba(0,0,0,0.5);
    margin-top: 5px;
    display: table;
}

.btn-admin{
	padding: 10px 20px!important;
    float: left!important;
    margin-top: 15px;
    color: white;
    background-color: #afafaf;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
}

.btn-admin:hover{
	background-color: rgba(0,0,0,0.7);
	color:#ffffff;
}

.ui-tabs.ui-widget > h2{
	background-color: rgba(0,0,0,0.07);
    padding: 15px 20px;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px!important;
}

.ui-tabs.ui-widget > h2 > span{
	margin-left: 10px;
}

.ui-tabs.ui-widget > h2 > .icon{
	width: 30px;
}

.insta-admin{
	
}

.form-table tbody,
.form-table tr,
.form-table td{
	box-sizing: border-box;
}

.form-table tbody,
.form-table tr{
    width: 100%;
    display: table;
}

.form-table th{
	width: 20%
}

.form-table td{
	width: 80%;
}

.form-table td{
	padding: 15px 25px 15px 10px; 
}


.form-table td textarea{
	width: 100%;
	
}